/*
* Import CSS Variables
*/
@import '../../_variables.scss';

.button{
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding: 7px 12px;
    margin: 10px;
    text-align: center;
    display: inline;
    cursor: pointer;
    transition: all .3s,
                background-color 1s;
    color: $blank_color;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    &:hover {
        box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
    }
    &.block {
        display: block;
        width: 100%;
        text-align: center;
    }
}